@charset="utf8";

div {
	margin: 0;
	padding: 0;
}

#drowArea {
	position: relative;
	width: 1200px;
	height: 650px;
	background: #175899;
	overflow: hidden;
}

#tree {
	position: absolute;
	bottom: 100px;
}

.branch {
	position: absolute;
	width: 30px;
	bottom: 0;
	height: 200px;
	border-radius: 15px;
	left: 800px;
	background: #f7f7ff;
	transform-origin: 50% 100% 0;
	z-index: 5;
}


.field {
	position: relative;
	height: 100px;
	top: 550px;
	background: #234;
	z-index: 1;
	overflow: hidden;
}

.field .field1 {
	position: relative;
	height: 15px;
	background: #dff1f9;
}

.field .field2 {
	position: relative;
	height: 25px;
	background: #4d7dbb;
}

.snow {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #cff;
	left: 20px;
	top: 20px;
	animation: fall 11s; 
	animation-fill-mode: forwards;
}

@keyframes fall { 
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.9;
	}
 	100%  { 
 		transform:  translate(0px, 550px);
 		opacity: 0;
 	} 
} 